In [1]:
from google.colab import files
uploaded = files.upload()

Saving India-Tourism-Statistics-2022-Table-5.1.2_0.csv to India-Tourism-Statistics-2022-Table-5.1.2_0.csv

In [2]:
import pandas as pd

df = pd.read_csv("India-Tourism-Statistics-2022-Table-5.1.2_0.csv")
df.head()

,S.No.,States/Uts,Domestic-2020,Foreign-2020,Domestic-2021,Foreign-2021,Growth Rate-DTV 21/20,Growth Rate-FTV 21/20
0,1,A&N Island,191207,5412,126238,1687,-33.98,-68.83
1,2,Andhra Pradesh,70828590,67591,93277569,27551,31.69,-59.24
2,3,Arunachal Pradesh,42871,961,102915,182,140.06,-81.06
3,4,Assam,1266898,7285,1409161,536,11.23,-92.64
4,5,Bihar,5638024,308080,2501193,1046,-55.64,-99.66

In [3]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   S.No.                  38 non-null     object
 1   States/Uts             38 non-null     object
 2   Domestic-2020          38 non-null     int64
 3   Foreign-2020           38 non-null     int64
 4   Domestic-2021          38 non-null     int64
 5   Foreign-2021           38 non-null     int64
 6   Growth Rate-DTV 21/20  38 non-null     float64
 7   Growth Rate-FTV 21/20  38 non-null     float64
dtypes: float64(2), int64(4), object(2)
memory usage: 2.5+ KB

S.No.                    0
States/Uts               0
Domestic-2020            0
Foreign-2020             0
Domestic-2021            0
Foreign-2021             0
Growth Rate-DTV 21/20    0
Growth Rate-FTV 21/20    0
dtype: int64

In [4]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.head()

,s.no.,states/uts,domestic-2020,foreign-2020,domestic-2021,foreign-2021,growth_rate-dtv_21/20,growth_rate-ftv_21/20
0,1,A&N Island,191207,5412,126238,1687,-33.98,-68.83
1,2,Andhra Pradesh,70828590,67591,93277569,27551,31.69,-59.24
2,3,Arunachal Pradesh,42871,961,102915,182,140.06,-81.06
3,4,Assam,1266898,7285,1409161,536,11.23,-92.64
4,5,Bihar,5638024,308080,2501193,1046,-55.64,-99.66

In [5]:
df = df.drop_duplicates()

In [6]:
df["states/uts"] = df["states/uts"].str.replace("*", "", regex=False).str.strip()

In [7]:
df.isnull().sum()

s.no.                    0
states/uts               0
domestic-2020            0
foreign-2020             0
domestic-2021            0
foreign-2021             0
growth_rate-dtv_21/20    0
growth_rate-ftv_21/20    0
dtype: int64

In [8]:
df = df.fillna(0)

In [9]:
numeric_cols = df.columns[2:]
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [10]:
df.to_csv("cleaned_tourism_data.csv", index=False)

In [11]:
from google.colab import files
files.download("cleaned_tourism_data.csv")